.clean-block.clean-hero:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: currentColor;
    z-index: 1;
}

@media (min-width: 576px){
    .clean-block.clean-hero {
        min-height: 680px;
    }
}

.clean-block.clean-hero .text {
    max-width: 640px;
    color: #fff;
    z-index: 2;
    padding: 40px 15px;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 15%);
}

.clean-block.clean-hero {
    position: relative;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0;
}

@media (min-width: 576px){
    .clean-block {
        padding-bottom: 100px;
    }
}

.clean-block .block-heading {
    padding-top: 50px;
    margin-bottom: 40px;
    text-align: center;
}