<nav class="navbar navbar-light navbar-expand-lg d-md-flex main-nav" style="background: white;/*overflow: hidden;*/">
    <div class="container-fluid" style="padding: 0;"><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse justify-content-between" id="navcol-2" style="font-size: 12px;overflow: hidden;">
            <ul class="navbar-nav text-nowrap text-uppercase text-center d-lg-flex justify-content-between order-sm-1 order-md-2 align-items-lg-center order-lg-1 order-xl-1 navbar-nav1" style="flex-shrink: 1;width: 40%;">
                <li class="nav-item d-sm-none d-md-none d-lg-flex d-xl-flex align-items-xl-center nav-btn1"><button class="btn btn-primary nav-btns" type="button">Call us 231-907-2882</button></li>
                <li class="nav-item">
                    <div class="nav-item dropdown d-lg-flex dropdown-nav nav-link"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#" style="color: rgba(0,0,0,.5);">Roofing Installation/Repair</a>
                        <div class="dropdown-menu"><a class="dropdown-item nav-link" href="#">Metal roofing installlation</a></div>
                    </div>
                </li>
                <li class="nav-item"><a class="nav-link" href="pricing.html">Siding Installation</a></li>
            </ul><a class="order-sm-2 order-md-1 order-lg-2 order-xl-2 " routerLink="/"><img class="order-sm-2 order-md-1 order-lg-2 order-xl-2 nav-logo" src="../../assets/img/logo-big-282x141-1.png" style="position: absolute;top: 0%;left: 50%;transform: translate(-60%, 5%);"></a>
            <ul class="navbar-nav d-md-flex justify-content-between align-items-md-center order-md-3 navbar-nav2" style="text-transform: uppercase;width: 40%;">
                <li class="nav-item">
                    <div class="nav-item dropdown d-lg-flex dropdown-nav nav-link"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#" style="color: rgba(0,0,0,.5);">Gutters</a>
                        <div class="dropdown-menu"><a class="dropdown-item nav-link" href="#">Gutter Cleaning Service</a><a class="dropdown-item nav-link" href="#">Gutter Guards/Gutter Cover</a></div>
                    </div>
                </li>
                <li class="nav-item"><a class="nav-link" href="features.html">Windows</a></li>
                <li class="nav-item"><a class="nav-link" href="features.html">Financing</a></li>
                <li class="nav-item">
                    <div class="nav-item dropdown d-lg-flex dropdown-nav nav-link"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#" style="color: rgba(0,0,0,.5);">About Us</a>
                        <div class="dropdown-menu"><a class="dropdown-item nav-link" href="#">Careers</a><a class="dropdown-item nav-link" href="#">Where We Donate</a></div>
                    </div>
                </li>
                <li class="nav-item d-xl-flex align-items-xl-center"><button class="btn btn-primary text-nowrap nav-btns" type="button" style="/*font-weight: 700;*//*font-size: 13px;*//*background: #0274be;*/">Schedule An Estimate</button></li>
            </ul>
        </div>
    </div>
</nav>